body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #8ed1fc, #b3e5fc);
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

button {
  background-color: #0099ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #007acc;
}
